.dxWeb_heRibbonIcons_heBackColor_Office2010Silver,
.dxWeb_heRibbonIcons_heBackColorDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heBackColorLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heBold_Office2010Silver,
.dxWeb_heRibbonIcons_heBoldDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heBoldLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heBoldLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCenter_Office2010Silver,
.dxWeb_heRibbonIcons_heCenterDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCenterLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heCenterLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableCellDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableRowDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCheckSpelling_Office2010Silver,
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCheckSpellingLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCopy_Office2010Silver,
.dxWeb_heRibbonIcons_heCopyDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCopyLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heCopyLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCut_Office2010Silver,
.dxWeb_heRibbonIcons_heCutDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heCutLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heCutLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTable_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableColumn_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableRow_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heFontGroup_Office2010Silver,
.dxWeb_heRibbonIcons_heFontGroupDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heForeColor_Office2010Silver,
.dxWeb_heRibbonIcons_heForeColorDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heForeColorLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heFullscreen_Office2010Silver,
.dxWeb_heRibbonIcons_heFullscreenDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heFullscreenLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heIndent_Office2010Silver,
.dxWeb_heRibbonIcons_heIndentDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heIndentLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heIndentLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertImageDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertLinkDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertOrderedList_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableDialog_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowAbove_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowBelow_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertUnorderedList_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heItalic_Office2010Silver,
.dxWeb_heRibbonIcons_heItalicDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heItalicLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heItalicLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heJustifyFull_Office2010Silver,
.dxWeb_heRibbonIcons_heJustifyFullDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heJustifyFullLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heLeft_Office2010Silver,
.dxWeb_heRibbonIcons_heLeftDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heLeftLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heLeftLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellVertical_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heOutdent_Office2010Silver,
.dxWeb_heRibbonIcons_heOutdentDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heOutdentLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_hePaste_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteFromWord_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteFromWordLarge_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteLarge_Office2010Silver,
.dxWeb_heRibbonIcons_hePasteLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_hePrint_Office2010Silver,
.dxWeb_heRibbonIcons_hePrintDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_hePrintLarge_Office2010Silver,
.dxWeb_heRibbonIcons_hePrintLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heRedo_Office2010Silver,
.dxWeb_heRibbonIcons_heRedoDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heRedoLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heRedoLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heRemoveFormat_Office2010Silver,
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heRemoveFormatLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heRight_Office2010Silver,
.dxWeb_heRibbonIcons_heRightDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heRightLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heRightLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsDocx_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsMht_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsOdt_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsPdf_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsRtf_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsTxt_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellVertical_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heStrikethrough_Office2010Silver,
.dxWeb_heRibbonIcons_heStrikethroughDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heStrikethroughLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSubscript_Office2010Silver,
.dxWeb_heRibbonIcons_heSubscriptDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSubscriptLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSuperscript_Office2010Silver,
.dxWeb_heRibbonIcons_heSuperscriptDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heSuperscriptLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heUnderline_Office2010Silver,
.dxWeb_heRibbonIcons_heUnderlineDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heUnderlineLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heUndo_Office2010Silver,
.dxWeb_heRibbonIcons_heUndoDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heUndoLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heUndoLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heUnlink_Office2010Silver,
.dxWeb_heRibbonIcons_heUnlinkDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heUnlinkLarge_Office2010Silver,
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_Office2010Silver,
.dxWeb_heRibbonIcons_heViewsGroup_Office2010Silver,
.dxWeb_heRibbonIcons_heViewsGroupDisabled_Office2010Silver
{
    background-image: url('HESprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_heRibbonIcons_heBackColor_Office2010Silver
{
    background-position: -697px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorDisabled_Office2010Silver
{
    background-position: -561px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorLarge_Office2010Silver
{
    background-position: -1419px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_Office2010Silver
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBold_Office2010Silver
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldDisabled_Office2010Silver
{
    background-position: -1224px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldLarge_Office2010Silver
{
    background-position: -1089px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBoldLargeDisabled_Office2010Silver
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenter_Office2010Silver
{
    background-position: -748px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterDisabled_Office2010Silver
{
    background-position: -425px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterLarge_Office2010Silver
{
    background-position: -1650px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenterLargeDisabled_Office2010Silver
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialog_Office2010Silver
{
    background-position: -1598px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_Office2010Silver
{
    background-position: -255px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_Office2010Silver
{
    background-position: -792px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_Office2010Silver
{
    background-position: -1287px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_Office2010Silver
{
    background-position: -1122px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_Office2010Silver
{
    background-position: -1343px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_Office2010Silver
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_Office2010Silver
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialog_Office2010Silver
{
    background-position: -731px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_Office2010Silver
{
    background-position: -1054px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_Office2010Silver
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_Office2010Silver
{
    background-position: -1320px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialog_Office2010Silver
{
    background-position: -544px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_Office2010Silver
{
    background-position: -1615px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_Office2010Silver
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_Office2010Silver
{
    background-position: -1188px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpelling_Office2010Silver
{
    background-position: -238px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_Office2010Silver
{
    background-position: -595px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLarge_Office2010Silver
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_Office2010Silver
{
    background-position: -1551px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopy_Office2010Silver
{
    background-position: -527px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyDisabled_Office2010Silver
{
    background-position: -646px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyLarge_Office2010Silver
{
    background-position: -1056px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopyLargeDisabled_Office2010Silver
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCut_Office2010Silver
{
    background-position: -459px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutDisabled_Office2010Silver
{
    background-position: -799px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutLarge_Office2010Silver
{
    background-position: -1122px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCutLargeDisabled_Office2010Silver
{
    background-position: -1155px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTable_Office2010Silver
{
    background-position: -1105px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumn_Office2010Silver
{
    background-position: -1020px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_Office2010Silver
{
    background-position: -1530px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_Office2010Silver
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_Office2010Silver
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableDisabled_Office2010Silver
{
    background-position: -442px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableLarge_Office2010Silver
{
    background-position: -1155px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_Office2010Silver
{
    background-position: -957px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRow_Office2010Silver
{
    background-position: -714px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_Office2010Silver
{
    background-position: -816px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_Office2010Silver
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_Office2010Silver
{
    background-position: -1683px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroup_Office2010Silver
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFontGroupDisabled_Office2010Silver
{
    background-position: -1287px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColor_Office2010Silver
{
    background-position: -969px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorDisabled_Office2010Silver
{
    background-position: -850px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorLarge_Office2010Silver
{
    background-position: -693px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_Office2010Silver
{
    background-position: -1023px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreen_Office2010Silver
{
    background-position: -1462px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenDisabled_Office2010Silver
{
    background-position: -765px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenLarge_Office2010Silver
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_Office2010Silver
{
    background-position: -1221px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndent_Office2010Silver
{
    background-position: -952px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentDisabled_Office2010Silver
{
    background-position: -221px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentLarge_Office2010Silver
{
    background-position: -1386px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndentLargeDisabled_Office2010Silver
{
    background-position: -1122px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialog_Office2010Silver
{
    background-position: -1173px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_Office2010Silver
{
    background-position: -272px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_Office2010Silver
{
    background-position: -1386px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_Office2010Silver
{
    background-position: -759px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialog_Office2010Silver
{
    background-position: -1479px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_Office2010Silver
{
    background-position: -935px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_Office2010Silver
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_Office2010Silver
{
    background-position: -924px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedList_Office2010Silver
{
    background-position: -629px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_Office2010Silver
{
    background-position: -1309px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_Office2010Silver
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_Office2010Silver
{
    background-position: -825px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_Office2010Silver
{
    background-position: -663px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_Office2010Silver
{
    background-position: -1326px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_Office2010Silver
{
    background-position: -1485px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_Office2010Silver
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_Office2010Silver
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_Office2010Silver
{
    background-position: -187px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_Office2010Silver
{
    background-position: -1716px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_Office2010Silver
{
    background-position: -759px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialog_Office2010Silver
{
    background-position: -374px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_Office2010Silver
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_Office2010Silver
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_Office2010Silver
{
    background-position: -792px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAbove_Office2010Silver
{
    background-position: -986px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_Office2010Silver
{
    background-position: -136px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_Office2010Silver
{
    background-position: -1320px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_Office2010Silver
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelow_Office2010Silver
{
    background-position: -578px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_Office2010Silver
{
    background-position: -1445px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_Office2010Silver
{
    background-position: -858px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_Office2010Silver
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedList_Office2010Silver
{
    background-position: -612px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_Office2010Silver
{
    background-position: -918px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_Office2010Silver
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_Office2010Silver
{
    background-position: -1584px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalic_Office2010Silver
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicDisabled_Office2010Silver
{
    background-position: -408px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicLarge_Office2010Silver
{
    background-position: -891px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalicLargeDisabled_Office2010Silver
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFull_Office2010Silver
{
    background-position: -1700px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullDisabled_Office2010Silver
{
    background-position: -680px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullLarge_Office2010Silver
{
    background-position: -1452px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_Office2010Silver
{
    background-position: -1551px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeft_Office2010Silver
{
    background-position: -1666px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftDisabled_Office2010Silver
{
    background-position: -153px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftLarge_Office2010Silver
{
    background-position: -1254px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeftLargeDisabled_Office2010Silver
{
    background-position: -891px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_Office2010Silver
{
    background-position: -1496px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_Office2010Silver
{
    background-position: -1088px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_Office2010Silver
{
    background-position: -660px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_Office2010Silver
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVertical_Office2010Silver
{
    background-position: -289px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_Office2010Silver
{
    background-position: -1428px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_Office2010Silver
{
    background-position: -1452px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_Office2010Silver
{
    background-position: -726px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdent_Office2010Silver
{
    background-position: -833px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentDisabled_Office2010Silver
{
    background-position: -204px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentLarge_Office2010Silver
{
    background-position: -825px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_Office2010Silver
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePaste_Office2010Silver
{
    background-position: -1411px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteDisabled_Office2010Silver
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWord_Office2010Silver
{
    background-position: -1649px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_Office2010Silver
{
    background-position: -901px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLarge_Office2010Silver
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_Office2010Silver
{
    background-position: -1716px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLarge_Office2010Silver
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLargeDisabled_Office2010Silver
{
    background-position: -957px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrint_Office2010Silver
{
    background-position: -102px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintDisabled_Office2010Silver
{
    background-position: -1071px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintLarge_Office2010Silver
{
    background-position: -1353px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrintLargeDisabled_Office2010Silver
{
    background-position: -693px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedo_Office2010Silver
{
    background-position: -476px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoDisabled_Office2010Silver
{
    background-position: -867px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoLarge_Office2010Silver
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedoLargeDisabled_Office2010Silver
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormat_Office2010Silver
{
    background-position: -1037px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_Office2010Silver
{
    background-position: -1292px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLarge_Office2010Silver
{
    background-position: -1188px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_Office2010Silver
{
    background-position: -990px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRight_Office2010Silver
{
    background-position: -884px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightDisabled_Office2010Silver
{
    background-position: -1275px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightLarge_Office2010Silver
{
    background-position: -1518px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRightLargeDisabled_Office2010Silver
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocx_Office2010Silver
{
    background-position: -1258px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_Office2010Silver
{
    background-position: -1190px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_Office2010Silver
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_Office2010Silver
{
    background-position: -1518px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMht_Office2010Silver
{
    background-position: -1156px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_Office2010Silver
{
    background-position: -1547px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_Office2010Silver
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_Office2010Silver
{
    background-position: -924px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdt_Office2010Silver
{
    background-position: -170px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_Office2010Silver
{
    background-position: -1717px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_Office2010Silver
{
    background-position: -1617px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_Office2010Silver
{
    background-position: -990px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdf_Office2010Silver
{
    background-position: -323px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_Office2010Silver
{
    background-position: -1394px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_Office2010Silver
{
    background-position: -1254px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_Office2010Silver
{
    background-position: -1221px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtf_Office2010Silver
{
    background-position: -119px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_Office2010Silver
{
    background-position: -510px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_Office2010Silver
{
    background-position: -1089px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_Office2010Silver
{
    background-position: -1683px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxt_Office2010Silver
{
    background-position: -1564px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_Office2010Silver
{
    background-position: -306px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_Office2010Silver
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_Office2010Silver
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_Office2010Silver
{
    background-position: -357px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_Office2010Silver
{
    background-position: -1207px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_Office2010Silver
{
    background-position: -1023px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_Office2010Silver
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVertical_Office2010Silver
{
    background-position: -1360px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_Office2010Silver
{
    background-position: -1632px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_Office2010Silver
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_Office2010Silver
{
    background-position: -858px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethrough_Office2010Silver
{
    background-position: -782px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughDisabled_Office2010Silver
{
    background-position: -340px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughLarge_Office2010Silver
{
    background-position: -660px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_Office2010Silver
{
    background-position: -1650px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscript_Office2010Silver
{
    background-position: -1241px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptDisabled_Office2010Silver
{
    background-position: -85px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptLarge_Office2010Silver
{
    background-position: -726px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_Office2010Silver
{
    background-position: -1353px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscript_Office2010Silver
{
    background-position: -1581px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptDisabled_Office2010Silver
{
    background-position: -391px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptLarge_Office2010Silver
{
    background-position: -1485px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_Office2010Silver
{
    background-position: -1584px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderline_Office2010Silver
{
    background-position: -493px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineDisabled_Office2010Silver
{
    background-position: -1139px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineLarge_Office2010Silver
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_Office2010Silver
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndo_Office2010Silver
{
    background-position: -1513px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoDisabled_Office2010Silver
{
    background-position: -1377px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoLarge_Office2010Silver
{
    background-position: -1617px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndoLargeDisabled_Office2010Silver
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlink_Office2010Silver
{
    background-position: -1003px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkDisabled_Office2010Silver
{
    background-position: -1683px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkLarge_Office2010Silver
{
    background-position: -1419px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_Office2010Silver
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroup_Office2010Silver
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heViewsGroupDisabled_Office2010Silver
{
    background-position: -1056px -33px;
    width: 32px;
    height: 32px;
}

