.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igCloseButton_Office2010Silver,
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPauseButton_Office2010Silver,
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPlayButton_Office2010Silver,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2010Silver,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2010Silver,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2010Silver,
.dxrpCollapsed .dxWeb_rpCollapseButton_Office2010Silver,
.dxWeb_edtCheckBoxChecked_Office2010Silver,
.dxWeb_edtCheckBoxCheckedDisabled_Office2010Silver,
.dxWeb_edtCheckBoxGrayed_Office2010Silver,
.dxWeb_edtCheckBoxGrayedDisabled_Office2010Silver,
.dxWeb_edtCheckBoxUnchecked_Office2010Silver,
.dxWeb_edtCheckBoxUncheckedDisabled_Office2010Silver,
.dxWeb_fmCopyButton_Office2010Silver,
.dxWeb_fmCopyButtonDisabled_Office2010Silver,
.dxWeb_fmCreateButton_Office2010Silver,
.dxWeb_fmCreateButtonDisabled_Office2010Silver,
.dxWeb_fmDeleteButton_Office2010Silver,
.dxWeb_fmDeleteButtonDisabled_Office2010Silver,
.dxWeb_fmDwnlButton_Office2010Silver,
.dxWeb_fmDwnlButtonDisabled_Office2010Silver,
.dxWeb_fmFolder_Office2010Silver,
.dxWeb_fmFolderLocked_Office2010Silver,
.dxWeb_fmMoveButton_Office2010Silver,
.dxWeb_fmMoveButtonDisabled_Office2010Silver,
.dxWeb_fmRefreshButton_Office2010Silver,
.dxWeb_fmRefreshButtonDisabled_Office2010Silver,
.dxWeb_fmRenameButton_Office2010Silver,
.dxWeb_fmRenameButtonDisabled_Office2010Silver,
.dxWeb_fmThumbnailCheck_Office2010Silver,
.dxWeb_igCloseButton_Office2010Silver,
.dxWeb_igNavigationBarMarker_Office2010Silver,
.dxWeb_igNextButton_Office2010Silver,
.dxWeb_igNextButtonDisabled_Office2010Silver,
.dxWeb_igNextButtonHover_Office2010Silver,
.dxWeb_igNextButtonPressed_Office2010Silver,
.dxWeb_igPauseButton_Office2010Silver,
.dxWeb_igPlayButton_Office2010Silver,
.dxWeb_igPrevButton_Office2010Silver,
.dxWeb_igPrevButtonDisabled_Office2010Silver,
.dxWeb_igPrevButtonHover_Office2010Silver,
.dxWeb_igPrevButtonPressed_Office2010Silver,
.dxWeb_isDot_Office2010Silver,
.dxWeb_isDotDisabled_Office2010Silver,
.dxWeb_isDotPressed_Office2010Silver,
.dxWeb_isDotSelected_Office2010Silver,
.dxWeb_isNextBtnHor_Office2010Silver,
.dxWeb_isNextBtnHorDisabled_Office2010Silver,
.dxWeb_isNextBtnVert_Office2010Silver,
.dxWeb_isNextBtnVertDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHor_Office2010Silver,
.dxWeb_isNextPageBtnHorDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHorOutside_Office2010Silver,
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVert_Office2010Silver,
.dxWeb_isNextPageBtnVertDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVertOutside_Office2010Silver,
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_isPauseBtn_Office2010Silver,
.dxWeb_isPlayBtn_Office2010Silver,
.dxWeb_isPrevBtnHor_Office2010Silver,
.dxWeb_isPrevBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevBtnVert_Office2010Silver,
.dxWeb_isPrevBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHor_Office2010Silver,
.dxWeb_isPrevPageBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutside_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVert_Office2010Silver,
.dxWeb_isPrevPageBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutside_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_izEWCloseButton_Office2010Silver,
.dxWeb_izHint_Office2010Silver,
.dxWeb_mHorizontalPopOut_Office2010Silver,
.dxWeb_mScrollDown_Office2010Silver,
.dxWeb_mScrollUp_Office2010Silver,
.dxWeb_mSubMenuItem_Office2010Silver,
.dxWeb_mSubMenuItemChecked_Office2010Silver,
.dxWeb_mVerticalPopOut_Office2010Silver,
.dxWeb_mVerticalPopOutRtl_Office2010Silver,
.dxWeb_nbCollapse_Office2010Silver,
.dxWeb_nbExpand_Office2010Silver,
.dxWeb_ncBackToTop_Office2010Silver,
.dxWeb_pAll_Office2010Silver,
.dxWeb_pAllDisabled_Office2010Silver,
.dxWeb_pcCloseButton_Office2010Silver,
.dxWeb_pcCollapseButton_Office2010Silver,
.dxWeb_pcMaximizeButton_Office2010Silver,
.dxWeb_pcPinButton_Office2010Silver,
.dxWeb_pcRefreshButton_Office2010Silver,
.dxWeb_pcSizeGrip_Office2010Silver,
.dxWeb_pcSizeGripRtl_Office2010Silver,
.dxWeb_pFirst_Office2010Silver,
.dxWeb_pFirstDisabled_Office2010Silver,
.dxWeb_pLast_Office2010Silver,
.dxWeb_pLastDisabled_Office2010Silver,
.dxWeb_pNext_Office2010Silver,
.dxWeb_pNextDisabled_Office2010Silver,
.dxWeb_pPopOut_Office2010Silver,
.dxWeb_pPopOutDisabled_Office2010Silver,
.dxWeb_pPrev_Office2010Silver,
.dxWeb_pPrevDisabled_Office2010Silver,
.dxWeb_rMinBtn_Office2010Silver,
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver,
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtn_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver,
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver,
.dxWeb_rpCollapseButton_Office2010Silver,
.dxWeb_rPopOut_Office2010Silver,
.dxWeb_smBullet_Office2010Silver,
.dxWeb_splHCollapseBackwardButton_Office2010Silver,
.dxWeb_splHCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splHCollapseForwardButton_Office2010Silver,
.dxWeb_splHCollapseForwardButtonHover_Office2010Silver,
.dxWeb_splHSeparator_Office2010Silver,
.dxWeb_splHSeparatorHover_Office2010Silver,
.dxWeb_splVCollapseBackwardButton_Office2010Silver,
.dxWeb_splVCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splVCollapseForwardButton_Office2010Silver,
.dxWeb_splVCollapseForwardButtonHover_Office2010Silver,
.dxWeb_splVSeparator_Office2010Silver,
.dxWeb_splVSeparatorHover_Office2010Silver,
.dxWeb_tcScrollLeft_Office2010Silver,
.dxWeb_tcScrollLeftDisabled_Office2010Silver,
.dxWeb_tcScrollLeftHover_Office2010Silver,
.dxWeb_tcScrollLeftPressed_Office2010Silver,
.dxWeb_tcScrollRight_Office2010Silver,
.dxWeb_tcScrollRightDisabled_Office2010Silver,
.dxWeb_tcScrollRightHover_Office2010Silver,
.dxWeb_tcScrollRightPressed_Office2010Silver,
.dxWeb_tiBackToTop_Office2010Silver,
.dxWeb_tvColBtn_Office2010Silver,
.dxWeb_tvColBtnRtl_Office2010Silver,
.dxWeb_tvExpBtn_Office2010Silver,
.dxWeb_tvExpBtnRtl_Office2010Silver,
.dxWeb_ucClearButton_Office2010Silver,
.dxWeb_ucClearButtonDisabled_Office2010Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igCloseButton_Office2010Silver
{
    background-position: 0px -224px;
    width: 23px;
    height: 23px;
}
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPauseButton_Office2010Silver
{
    background-position: 0px -198px;
    width: 21px;
    height: 25px;
}
.dxigControl_Office2010Silver.dxTouchUI .dxWeb_igPlayButton_Office2010Silver
{
    background-position: -22px -198px;
    width: 21px;
    height: 25px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2010Silver
{
    background-position: -96px -366px;
    width: 15px;
    height: 15px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2010Silver
{
    background-position: 0px -395px;
    width: 15px;
    height: 15px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2010Silver
{
    background-position: -16px -366px;
    width: 15px;
    height: 15px;
}
.dxrpCollapsed .dxWeb_rpCollapseButton_Office2010Silver
{
    background-position: -136px -332px;
    width: 13px;
    height: 15px;
}
.dxWeb_edtCheckBoxChecked_Office2010Silver
{
    background-position: -16px -395px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Office2010Silver
{
    background-position: -48px -395px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayed_Office2010Silver
{
    background-position: -80px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Office2010Silver
{
    background-position: -96px -395px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_Office2010Silver
{
    background-position: -64px -395px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Office2010Silver
{
    background-position: 0px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_fmCopyButton_Office2010Silver
{
    background-position: -51px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Office2010Silver
{
    background-position: -68px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Office2010Silver
{
    background-position: -85px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Office2010Silver
{
    background-position: -17px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Office2010Silver
{
    background-position: -51px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Office2010Silver
{
    background-position: 0px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Office2010Silver
{
    background-position: -68px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Office2010Silver
{
    background-position: -114px -314px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Office2010Silver
{
    background-position: -119px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Office2010Silver
{
    background-position: -102px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_Office2010Silver
{
    background-position: -119px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Office2010Silver
{
    background-position: -17px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Office2010Silver
{
    background-position: -34px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Office2010Silver
{
    background-position: -85px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Office2010Silver
{
    background-position: 0px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Office2010Silver
{
    background-position: -102px -332px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Office2010Silver
{
    background-position: -70px -426px;
    width: 10px;
    height: 10px;
}
.dxWeb_igCloseButton_Office2010Silver
{
    background-position: -88px -411px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Office2010Silver
{
    background-position: -93px -314px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Office2010Silver
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Office2010Silver
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Office2010Silver
{
    background-position: -46px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Office2010Silver
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Office2010Silver
{
    background-position: -80px -314px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Office2010Silver
{
    background-position: -138px -294px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Office2010Silver
{
    background-position: 0px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Office2010Silver
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Office2010Silver
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Office2010Silver
{
    background-position: -92px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Office2010Silver
{
    background-position: -42px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Office2010Silver
{
    background-position: -102px -411px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Office2010Silver
{
    background-position: -56px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Office2010Silver
{
    background-position: -116px -411px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Office2010Silver
{
    background-position: -111px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Office2010Silver
{
    background-position: -92px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Office2010Silver
{
    background-position: -30px -294px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Office2010Silver
{
    background-position: 0px -294px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Office2010Silver
{
    background-position: -118px -272px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Office2010Silver
{
    background-position: -136px -248px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorOutside_Office2010Silver
{
    background-position: -138px -37px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2010Silver
{
    background-position: -138px -66px;
    width: 12px;
    height: 28px;
}
.dxWeb_isNextPageBtnVert_Office2010Silver
{
    background-position: 0px -411px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Office2010Silver
{
    background-position: -44px -411px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertOutside_Office2010Silver
{
    background-position: 0px -382px;
    width: 28px;
    height: 12px;
}
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2010Silver
{
    background-position: -58px -382px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPauseBtn_Office2010Silver
{
    background-position: -54px -314px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Office2010Silver
{
    background-position: -67px -314px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Office2010Silver
{
    background-position: -132px -166px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Office2010Silver
{
    background-position: -130px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Office2010Silver
{
    background-position: -60px -294px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Office2010Silver
{
    background-position: -90px -294px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Office2010Silver
{
    background-position: -103px -272px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Office2010Silver
{
    background-position: -88px -272px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorOutside_Office2010Silver
{
    background-position: -138px -103px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2010Silver
{
    background-position: -138px 0px;
    width: 12px;
    height: 28px;
}
.dxWeb_isPrevPageBtnVert_Office2010Silver
{
    background-position: -66px -411px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Office2010Silver
{
    background-position: -22px -411px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertOutside_Office2010Silver
{
    background-position: -87px -382px;
    width: 28px;
    height: 12px;
}
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2010Silver
{
    background-position: -29px -382px;
    width: 28px;
    height: 12px;
}
.dxWeb_izEWCloseButton_Office2010Silver
{
    background-position: -106px -172px;
    width: 25px;
    height: 25px;
}
.dxWeb_izHint_Office2010Silver
{
    background-position: -120px -294px;
    width: 17px;
    height: 17px;
}
.dxWeb_mHorizontalPopOut_Office2010Silver
{
    background-position: -132px -390px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollDown_Office2010Silver
{
    background-position: -124px -390px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollUp_Office2010Silver
{
    background-position: -143px -435px;
    width: 7px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Office2010Silver
{
    background-position: -14px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_mSubMenuItemChecked_Office2010Silver
{
    background-position: 0px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_mVerticalPopOut_Office2010Silver
{
    background-position: -127px -164px;
    width: 4px;
    height: 7px;
}
.dxWeb_mVerticalPopOutRtl_Office2010Silver
{
    background-position: -146px -374px;
    width: 4px;
    height: 7px;
}
.dxWeb_nbCollapse_Office2010Silver
{
    background-position: -112px -395px;
    width: 13px;
    height: 15px;
}
.dxWeb_nbExpand_Office2010Silver
{
    background-position: -136px -349px;
    width: 13px;
    height: 15px;
}
.dxWeb_ncBackToTop_Office2010Silver
{
    background-position: -32px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_pAll_Office2010Silver
{
    background-position: -85px -198px;
    width: 40px;
    height: 23px;
}
.dxWeb_pAllDisabled_Office2010Silver
{
    background-position: -44px -198px;
    width: 40px;
    height: 23px;
}
.dxWeb_pcCloseButton_Office2010Silver
{
    background-position: -32px -395px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcCollapseButton_Office2010Silver
{
    background-position: -112px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcMaximizeButton_Office2010Silver
{
    background-position: -128px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcPinButton_Office2010Silver
{
    background-position: -80px -395px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcRefreshButton_Office2010Silver
{
    background-position: -64px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcSizeGrip_Office2010Silver
{
    background-position: -130px -411px;
    width: 13px;
    height: 13px;
}
.dxWeb_pcSizeGripRtl_Office2010Silver
{
    background-position: -28px -426px;
    width: 13px;
    height: 13px;
}
.dxWeb_pFirst_Office2010Silver
{
    background-position: -126px -198px;
    width: 23px;
    height: 23px;
}
.dxWeb_pFirstDisabled_Office2010Silver
{
    background-position: -24px -248px;
    width: 23px;
    height: 23px;
}
.dxWeb_pLast_Office2010Silver
{
    background-position: -48px -224px;
    width: 23px;
    height: 23px;
}
.dxWeb_pLastDisabled_Office2010Silver
{
    background-position: -96px -224px;
    width: 23px;
    height: 23px;
}
.dxWeb_pNext_Office2010Silver
{
    background-position: -24px -224px;
    width: 23px;
    height: 23px;
}
.dxWeb_pNextDisabled_Office2010Silver
{
    background-position: -72px -224px;
    width: 23px;
    height: 23px;
}
.dxWeb_pPopOut_Office2010Silver
{
    background-position: -140px -382px;
    width: 10px;
    height: 12px;
}
.dxWeb_pPopOutDisabled_Office2010Silver
{
    background-position: -140px -395px;
    width: 10px;
    height: 12px;
}
.dxWeb_pPrev_Office2010Silver
{
    background-position: -120px -224px;
    width: 23px;
    height: 23px;
}
.dxWeb_pPrevDisabled_Office2010Silver
{
    background-position: 0px -248px;
    width: 23px;
    height: 23px;
}
.dxWeb_rMinBtn_Office2010Silver
{
    background-position: -92px -426px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver
{
    background-position: -81px -426px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver
{
    background-position: -138px -29px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtn_Office2010Silver
{
    background-position: -103px -426px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnHover_Office2010Silver
{
    background-position: -138px -95px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Silver.dxWeb_rMinBtnPressed_Office2010Silver
{
    background-position: -116px -164px;
    width: 10px;
    height: 7px;
}
.dxWeb_rpCollapseButton_Office2010Silver
{
    background-position: -126px -395px;
    width: 13px;
    height: 15px;
}
.dxWeb_rPopOut_Office2010Silver
{
    background-position: -116px -390px;
    width: 7px;
    height: 4px;
}
.dxWeb_smBullet_Office2010Silver
{
    background-position: -144px -411px;
    width: 6px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButton_Office2010Silver
{
    background-position: -122px -426px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButtonHover_Office2010Silver
{
    background-position: -130px -426px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButton_Office2010Silver
{
    background-position: -138px -426px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButtonHover_Office2010Silver
{
    background-position: -114px -426px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHSeparator_Office2010Silver
{
    background-position: -92px -165px;
    width: 23px;
    height: 6px;
}
.dxWeb_splHSeparatorHover_Office2010Silver
{
    background-position: -116px -382px;
    width: 23px;
    height: 6px;
}
.dxWeb_splVCollapseBackwardButton_Office2010Silver
{
    background-position: -144px -224px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Office2010Silver
{
    background-position: -144px -232px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Office2010Silver
{
    background-position: -144px -240px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Office2010Silver
{
    background-position: -144px -366px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVSeparator_Office2010Silver
{
    background-position: -92px -175px;
    width: 6px;
    height: 22px;
}
.dxWeb_splVSeparatorHover_Office2010Silver
{
    background-position: -99px -175px;
    width: 6px;
    height: 22px;
}
.dxWeb_tcScrollLeft_Office2010Silver
{
    background-position: 0px -272px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftDisabled_Office2010Silver
{
    background-position: -44px -272px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftHover_Office2010Silver
{
    background-position: -92px -248px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftPressed_Office2010Silver
{
    background-position: -70px -248px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRight_Office2010Silver
{
    background-position: -66px -272px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightDisabled_Office2010Silver
{
    background-position: -22px -272px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightHover_Office2010Silver
{
    background-position: -114px -248px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightPressed_Office2010Silver
{
    background-position: -48px -248px;
    width: 21px;
    height: 21px;
}
.dxWeb_tiBackToTop_Office2010Silver
{
    background-position: -48px -366px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvColBtn_Office2010Silver
{
    background-position: -18px -314px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Office2010Silver
{
    background-position: -133px -272px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Office2010Silver
{
    background-position: 0px -314px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Office2010Silver
{
    background-position: -36px -314px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Office2010Silver
{
    background-position: -131px -314px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Office2010Silver
{
    background-position: -34px -349px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Office2010Silver,
.dxWeb_rpHeaderTopRightCorner_Office2010Silver,
.dxWeb_rpHeaderBottomLeftCorner_Office2010Silver,
.dxWeb_rpHeaderBottomRightCorner_Office2010Silver,
.dxWeb_rpBottomLeftCorner_Office2010Silver,
.dxWeb_rpBottomRightCorner_Office2010Silver,
.dxWeb_rpTopLeftCorner_Office2010Silver,
.dxWeb_rpTopRightCorner_Office2010Silver,
.dxWeb_rpGroupBoxBottomLeftCorner_Office2010Silver,
.dxWeb_rpGroupBoxBottomRightCorner_Office2010Silver,
.dxWeb_rpGroupBoxTopLeftCorner_Office2010Silver,
.dxWeb_rpGroupBoxTopRightCorner_Office2010Silver,
.dxWeb_mHorizontalPopOut_Office2010Silver,
.dxWeb_mVerticalPopOut_Office2010Silver,
.dxWeb_mVerticalPopOutRtl_Office2010Silver,
.dxWeb_mSubMenuItem_Office2010Silver,
.dxWeb_mSubMenuItemChecked_Office2010Silver,
.dxWeb_mScrollUp_Office2010Silver,
.dxWeb_mScrollDown_Office2010Silver,
.dxWeb_tcScrollLeft_Office2010Silver,
.dxWeb_tcScrollRight_Office2010Silver,
.dxWeb_tcScrollLeftHover_Office2010Silver,
.dxWeb_tcScrollRightHover_Office2010Silver,
.dxWeb_tcScrollLeftPressed_Office2010Silver,
.dxWeb_tcScrollRightPressed_Office2010Silver,
.dxWeb_tcScrollLeftDisabled_Office2010Silver,
.dxWeb_tcScrollRightDisabled_Office2010Silver,
.dxWeb_nbCollapse_Office2010Silver,
.dxWeb_nbExpand_Office2010Silver,
.dxWeb_splVSeparator_Office2010Silver,
.dxWeb_splVSeparatorHover_Office2010Silver,
.dxWeb_splHSeparator_Office2010Silver,
.dxWeb_splHSeparatorHover_Office2010Silver,
.dxWeb_splVCollapseBackwardButton_Office2010Silver,
.dxWeb_splVCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splHCollapseBackwardButton_Office2010Silver,
.dxWeb_splHCollapseBackwardButtonHover_Office2010Silver,
.dxWeb_splVCollapseForwardButton_Office2010Silver,
.dxWeb_splVCollapseForwardButtonHover_Office2010Silver,
.dxWeb_splHCollapseForwardButton_Office2010Silver,
.dxWeb_splHCollapseForwardButtonHover_Office2010Silver,
.dxWeb_pcCloseButton_Office2010Silver,
.dxWeb_pcPinButton_Office2010Silver,
.dxWeb_pcRefreshButton_Office2010Silver,
.dxWeb_pcCollapseButton_Office2010Silver,
.dxWeb_pcMaximizeButton_Office2010Silver,
.dxWeb_pcSizeGrip_Office2010Silver,
.dxWeb_pcSizeGripRtl_Office2010Silver,
.dxWeb_pPopOut_Office2010Silver,
.dxWeb_pPopOutDisabled_Office2010Silver,
.dxWeb_pAll_Office2010Silver,
.dxWeb_pAllDisabled_Office2010Silver,
.dxWeb_pPrev_Office2010Silver,
.dxWeb_pPrevDisabled_Office2010Silver,
.dxWeb_pNext_Office2010Silver,
.dxWeb_pNextDisabled_Office2010Silver,
.dxWeb_pLast_Office2010Silver,
.dxWeb_pLastDisabled_Office2010Silver,
.dxWeb_pFirst_Office2010Silver,
.dxWeb_pFirstDisabled_Office2010Silver,
.dxWeb_tvColBtn_Office2010Silver,
.dxWeb_tvColBtnRtl_Office2010Silver,
.dxWeb_tvExpBtn_Office2010Silver,
.dxWeb_tvExpBtnRtl_Office2010Silver,
.dxWeb_ncBackToTop_Office2010Silver,
.dxWeb_smBullet_Office2010Silver,
.dxWeb_tiBackToTop_Office2010Silver,
.dxWeb_fmFolder_Office2010Silver,
.dxWeb_fmFolderLocked_Office2010Silver,
.dxWeb_fmCreateButton_Office2010Silver,
.dxWeb_fmMoveButton_Office2010Silver,
.dxWeb_fmRenameButton_Office2010Silver,
.dxWeb_fmDeleteButton_Office2010Silver,
.dxWeb_fmRefreshButton_Office2010Silver,
.dxWeb_fmDwnlButton_Office2010Silver,
.dxWeb_fmCreateButtonDisabled_Office2010Silver,
.dxWeb_fmMoveButtonDisabled_Office2010Silver,
.dxWeb_fmRenameButtonDisabled_Office2010Silver,
.dxWeb_fmDeleteButtonDisabled_Office2010Silver,
.dxWeb_fmRefreshButtonDisabled_Office2010Silver,
.dxWeb_fmDwnlButtonDisabled_Office2010Silver,
.dxWeb_fmThumbnailCheck_Office2010Silver,
.dxWeb_ucClearButton_Office2010Silver,
.dxWeb_ucClearButtonDisabled_Office2010Silver,
.dxWeb_isPrevBtnHor_Office2010Silver,
.dxWeb_isNextBtnHor_Office2010Silver,
.dxWeb_isPrevBtnVert_Office2010Silver,
.dxWeb_isNextBtnVert_Office2010Silver,
.dxWeb_isPrevPageBtnHor_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutside_Office2010Silver,
.dxWeb_isNextPageBtnHor_Office2010Silver,
.dxWeb_isNextPageBtnHorOutside_Office2010Silver,
.dxWeb_isPrevPageBtnVert_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutside_Office2010Silver,
.dxWeb_isNextPageBtnVert_Office2010Silver,
.dxWeb_isNextPageBtnVertOutside_Office2010Silver,
.dxWeb_isPrevBtnHorDisabled_Office2010Silver,
.dxWeb_isNextBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevBtnVertDisabled_Office2010Silver,
.dxWeb_isNextBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHorDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHorDisabled_Office2010Silver,
.dxWeb_isNextPageBtnHorOutsideDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVertDisabled_Office2010Silver,
.dxWeb_isPrevPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVertDisabled_Office2010Silver,
.dxWeb_isNextPageBtnVertOutsideDisabled_Office2010Silver,
.dxWeb_isDot_Office2010Silver,
.dxWeb_isDotDisabled_Office2010Silver,
.dxWeb_isDotSelected_Office2010Silver,
.dxWeb_isPlayBtn_Office2010Silver,
.dxWeb_isPauseBtn_Office2010Silver,
.dxWeb_igCloseButton_Office2010Silver,
.dxWeb_igNextButton_Office2010Silver,
.dxWeb_igPrevButton_Office2010Silver,
.dxWeb_igPlayButton_Office2010Silver,
.dxWeb_igPauseButton_Office2010Silver,
.dxWeb_igNavigationBarMarker_Office2010Silver
{ 
    display:block;
}
.dxWeb_mScrollUp_Office2010Silver, .dxWeb_mScrollDown_Office2010Silver
{
	margin: auto;
}
.dxWeb_ncBackToTop_Office2010Silver,
.dxWeb_smBullet_Office2010Silver,
.dxWeb_tiBackToTop_Office2010Silver
{
	display:inline;
}

