<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<log4net configSource="log4net.config"/>-->
  <configSections>
    <sectionGroup name="codeCarvings.piczard">
      <section name="coreSettings" type="CodeCarvings.Piczard.Configuration.CoreSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
      <section name="webSettings" type="CodeCarvings.Piczard.Configuration.WebSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <codeCarvings.piczard>
    <coreSettings>
      <drawing maxImageSize="5000, 5000" />
      <imageArchiver defaultJpegQuality="92" defaultQuantizeGifImages="true" />
      <security defaultEncryptionKey="sairam123456789" />
      <plugins>
        <!-- Register here your Piczard Plugins. -->
      </plugins>
    </coreSettings>
    <webSettings>
      <webResource enableCompression="true" />
      <pictureTrimmer autoDeleteTemporaryFiles="true" />
      <temporaryFileManager folderPath="~/App_Data" autoDeleteFiles="true" maxFileLifeTime="180" />
    </webSettings>
  </codeCarvings.piczard>
  <location path="piczardWebResource.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="rivermount11@gmail.com" />
    <add key="SMTPPassword" value="rivermount1" />
    <add key="FromEmailID" value="rivermount11@gmail.com" />
    <add key="MessageAttachmentURL" value="~\Uploads\MessagesAttachments\" />
    <add key="ProfileImagesURL" value="~\Uploads\ProfileImages\" />
    <add key="SpecimenImagesURL" value="~\Uploads\SpecimenImages\" />
    <add key="CADImagesURL" value="~\Uploads\CADImages\" />
    <add key="CustomerImportURL" value="~\Uploads\CustomerImports\" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=./tempimg/;deleteAfterServicing=false;" />
    <!-- Change below RootPath key value with live domain path when publish-->
    <add key="RootPath" value="http://localhost/Collaboration.Web.UI" />
    <!--<add key="RootPath" value="http://seooffer.w18.wh-2.com/RiverMount" />-->
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--<add name="CollaborationDBContext" connectionString="metadata=res://*/CollaborationModel.csdl|res://*/CollaborationModel.ssdl|res://*/CollaborationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GOLUMOLU\SqlExpress;Initial Catalog=RiverMount_CollaborationDB;Persist Security Info=True;User ID=sa;Password=Persona2;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RiverMountConnectionString" connectionString="Data Source=GOLUMOLU\SqlExpress;Initial Catalog=RiverMount_CollaborationDB;Persist Security Info=True;User ID=sa;Password=Persona2;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />-->
    <add name="CollaborationDBContext" connectionString="metadata=res://*/CollaborationModel.csdl|res://*/CollaborationModel.ssdl|res://*/CollaborationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s11.winhost.com;Initial Catalog=DB_83425_rivermount;Persist Security Info=True;User ID=DB_83425_rivermount_user;Password=rivermount;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="RiverMountConnectionString" connectionString="Data Source=s11.winhost.com;Initial Catalog=DB_83425_rivermount;Persist Security Info=True;User ID=DB_83425_rivermount_user;Password=rivermount;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <!-- Piczard - Important information: Remove or comment the following *add* line if you are using IIS 7/8 Integrated Pipeline Mode with validateIntegratedModeConfiguration = True (HTTP error 500.22/500.23). -->
      <add verb="*" path="piczardWebResource.ashx" validate="false" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard" />
    </httpHandlers>
    <roleManager enabled="true" />
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!-- Set session timeout of 2 hours-->
    <sessionState timeout="120">
    </sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="120" slidingExpiration="true" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <!--<roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="PiczardWebResource" verb="*" path="piczardWebResource.ashx" preCondition="integratedMode" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard" />
    </handlers>
  </system.webServer>
</configuration>