.dxGridView_gvCellError_Office2010Silver,
.dxGridView_gvCMClearFilter_Office2010Silver,
.dxGridView_gvCMClearGrouping_Office2010Silver,
.dxGridView_gvCMDeleteRow_Office2010Silver,
.dxGridView_gvCMEditRow_Office2010Silver,
.dxGridView_gvCMFullCollapse_Office2010Silver,
.dxGridView_gvCMFullExpand_Office2010Silver,
.dxGridView_gvCMGroupByColumn_Office2010Silver,
.dxGridView_gvCMNewRow_Office2010Silver,
.dxGridView_gvCMRefresh_Office2010Silver,
.dxGridView_gvCMShowCustomizationWindow_Office2010Silver,
.dxGridView_gvCMShowFilterEditor_Office2010Silver,
.dxGridView_gvCMShowGroupPanel_Office2010Silver,
.dxGridView_gvCMSortAscending_Office2010Silver,
.dxGridView_gvCMSortDescending_Office2010Silver,
.dxGridView_gvCMSummaryAverage_Office2010Silver,
.dxGridView_gvCMSummaryCount_Office2010Silver,
.dxGridView_gvCMSummaryMax_Office2010Silver,
.dxGridView_gvCMSummaryMin_Office2010Silver,
.dxGridView_gvCMSummarySum_Office2010Silver,
.dxGridView_gvCMUngroupColumn_Office2010Silver,
.dxGridView_gvCollapsedButton_Office2010Silver,
.dxGridView_gvCollapsedButtonRtl_Office2010Silver,
.dxGridView_gvDetailCollapsedButton_Office2010Silver,
.dxGridView_gvDetailCollapsedButtonRtl_Office2010Silver,
.dxGridView_gvDetailExpandedButton_Office2010Silver,
.dxGridView_gvDetailExpandedButtonRtl_Office2010Silver,
.dxGridView_gvDragAndDropArrowDown_Office2010Silver,
.dxGridView_gvDragAndDropArrowUp_Office2010Silver,
.dxGridView_gvDragAndDropHideColumn_Office2010Silver,
.dxGridView_gvExpandedButton_Office2010Silver,
.dxGridView_gvExpandedButtonRtl_Office2010Silver,
.dxGridView_gvFilterRowButton_Office2010Silver,
.dxGridView_gvHeaderFilter_Office2010Silver,
.dxGridView_gvHeaderFilterActive_Office2010Silver,
.dxGridView_gvHeaderSortDown_Office2010Silver,
.dxGridView_gvHeaderSortUp_Office2010Silver,
.dxGridView_gvParentGroupRows_Office2010Silver,
.dxGridView_WindowResizer_Office2010Silver,
.dxGridView_WindowResizerRtl_Office2010Silver
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_Office2010Silver
{
    background-position: -80px 0px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_Office2010Silver
{
    background-position: -76px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMClearGrouping_Office2010Silver
{
    background-position: -76px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMDeleteRow_Office2010Silver
{
    background-position: -38px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMEditRow_Office2010Silver
{
    background-position: -19px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMFullCollapse_Office2010Silver
{
    background-position: -38px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMFullExpand_Office2010Silver
{
    background-position: -19px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMGroupByColumn_Office2010Silver
{
    background-position: -19px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMNewRow_Office2010Silver
{
    background-position: -57px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMRefresh_Office2010Silver
{
    background-position: -19px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowCustomizationWindow_Office2010Silver
{
    background-position: -57px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowFilterEditor_Office2010Silver
{
    background-position: -42px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowGroupPanel_Office2010Silver
{
    background-position: 0px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSortAscending_Office2010Silver
{
    background-position: -61px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSortDescending_Office2010Silver
{
    background-position: -76px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryAverage_Office2010Silver
{
    background-position: 0px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryCount_Office2010Silver
{
    background-position: -57px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryMax_Office2010Silver
{
    background-position: 0px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryMin_Office2010Silver
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummarySum_Office2010Silver
{
    background-position: 0px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMUngroupColumn_Office2010Silver
{
    background-position: -38px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCollapsedButton_Office2010Silver
{
    background-position: 0px -113px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_Office2010Silver
{
    background-position: -70px -99px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_Office2010Silver
{
    background-position: -28px -99px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_Office2010Silver
{
    background-position: -42px -113px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_Office2010Silver
{
    background-position: -56px -113px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_Office2010Silver
{
    background-position: -56px -99px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_Office2010Silver
{
    background-position: -70px -113px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_Office2010Silver
{
    background-position: -82px -113px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_Office2010Silver
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_Office2010Silver
{
    background-position: -14px -99px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_Office2010Silver
{
    background-position: -42px -99px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_Office2010Silver
{
    background-position: -28px -113px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvHeaderFilter_Office2010Silver
{
    background-position: -38px -80px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_Office2010Silver
{
    background-position: -54px -80px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_Office2010Silver
{
    background-position: -87px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_Office2010Silver
{
    background-position: -84px -99px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvParentGroupRows_Office2010Silver
{
    background-position: -70px -80px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_Office2010Silver
{
    background-position: -14px -113px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_Office2010Silver
{
    background-position: 0px -99px;
    width: 13px;
    height: 13px;
}

