<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings>
  <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  <add name = "Excel07ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>

  <add name="CollaborationDBContext" connectionString="metadata=res://*/CollaborationModel.csdl|res://*/CollaborationModel.ssdl|res://*/CollaborationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAHUL-PC\MSSQL14;initial catalog=DB_83425_rivermount;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RiverMountConnectionString" connectionString="Data Source=RAHUL-PC\MSSQL14;Initial Catalog=DB_83425_rivermount;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  
</connectionStrings>

</configuration>
